<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol>
        <li><a href="/">index root</a></li>
        <li><a href="{% url 'prima_app:home'%}">home page welcome</a></li>
        <li><a href="{% url 'prima_app:menu'%}">menu</a></li>
        <li><a href="{% url 'prima_app:chisiamo'%}">chi siamo</a></li>
        <li><a href="{% url 'prima_app:variabili'%}">variabili</a></li>
    </ol>
</body>
</html>